.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-image: url("Micro_edited.jpg");
  background-size: cover;
  font-family:"trebuchet ms",sans-serif;
  font-size:90%;
}

h1 {
  color: #C0C0C0;
}

.formulaire{
  background-color: rgba(203,56,203, 0.2);
  width: 70%;
  border-radius: 10px;
  margin-left: 15%;
  margin-top: 3%;
}

.formulaireLogin{
  background-color: rgba(203,56,203, 0.3);
  width: 60%;
  border-radius: 10px;
  margin-left: 20%;
  margin-top: 5%
}

.inscription{
  background-color:rgba(203,56,203, 0.4);
  position:absolute;
   top:15%;
   left:50%;
   width:400px;
   height:30px; 
   margin-left:-200px; 
   margin-top:-20px; 
   color: white;
   border-radius: 10px;
}

fieldset {
  padding:0 20px 20px 20px;
  margin-bottom:10px;
  border:1px solid #DF3F3F;
  }
 legend {
  color:#DF3F3F;
  font-weight:bold
  }
 label {
  margin-top:10px;
  display:block;
  color: #FAFAFA;
  }
 label.inline {
  display:inline;
  margin-right:50px;
  }
 input, textarea, select, option {
  background-color:#FFF3F3;
  }
 input, textarea, select {
  padding:3px;
  border:1px solid #F5C5C5;
  border-radius:5px;
  width:200px;
  box-shadow:1px 1px 2px #C0C0C0 inset;
  }

 select {
  margin-top:10px;
  }

 input[type=radio] {
  background-color:transparent;
  border:none;
  width:10px;
  }

 input[type=submit], input[type=reset] {
  width:100px;
  margin-left:5px;
  box-shadow:1px 1px 1px #D83F3D;
  cursor:pointer;
  }

form {
  padding:10px;
  width:280px;
}
.titre{
  background-color:rgba(203,56,203, 0.4);
  color: white;
  display: inline-flex;
  width: 100%;
}

.titree{
  margin-left: 41%;
}

.chat1{
  width: 95%;
  margin-left: 2.5%;
  margin-top: 1%;
}

.chattotal{
  width: 100%;
}

.envoichat{
  width: 100%;
}

.BouttonEnvoyer{
  width: 95%;
  margin-left: 2.5%;
  margin-top: 0.3%;
  height: 25%;
  background-color: rgba(0, 123, 255, 0.829);
  border-radius: 20px;
}

ul#menu
{
	height: 35px ;
	margin: 0 ;
	padding: 0 ;
	list-style-type: none ;
}

ul#menu li
{
	float: right ;
	text-align: center ;
}

ul#menu li a
{
	width: 130px ;
	line-height: 25px ;
	font-size: 1.2em ;
	font-weight: bold ;
	letter-spacing: 2px ;
	color: #fff ;
	display: block ;
	text-decoration: none ;
	border-left: 2px solid #dea ;
}

.description{
  color: white;
  position: center
  
}

.ListeNom{
  font-size: 2em;
  color: white;
  text-align: left;
  background-color:rgba(203,56,203, 0.1);
  border-radius: 10px;
  width: 500px;
  margin-top: 40px;
  margin-left: 30px;
}

.video{
  color: white;
  background-color:rgba(203,56,203, 0.6);
  width: 35%;
  float: left;
  border-radius: 20px;
}

.formulaire2{
  background-color: rgba(203,56,203, 0.2);
  margin-top: 5%;
  margin-left: 75%;
  border-radius: 10px;
}

.details{
  color: white;
  background-color: rgba(203,56,203, 0.6);
  width: 50%;
  float: left;
  border-radius: 20px;
}

.apropos{
  text-align: center;
  color: white;
  height: 100%;
  margin-top: 2.3%;
}

.apropos2{
  position: relative;
  text-align: center;
  color: white;
}

.aproposImg{
  max-width: 100%;
  max-height: 100%;
  border-radius: 25px;
}

.aproposText{
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.description2{
  margin-top: 2%;
  margin-left: 0%;
  color: white;
  background-color: rgba(203,56,203, 0.6);
  width: 100%;
  float: center;
  border-radius: 5px;
}


.description1{
  margin-top: 8%;
  margin-left: 0%;
  color: white;
  background-color: rgba(203,56,203, 0.6);
  width: 100%;
  float: center;
  border-radius: 5px;
}

.videode{
  margin-top: 5%;
  margin-left:5%;
  margin-right: 5%;
}

.list-group{
  color: black;
  font-size: 1.4em;
  text-align: left;
}

.img-carousel{
  max-width: 26%;
  max-height: 100%;
}

.formulaire3{
  background-color: rgba(0,0,0, 0.7);
  border-radius: 15px;
  margin-top: 3%;
  margin-left:10%;
  height: 50%;
  width: 30%;
}

.homepage1{
  margin-top: 2%;
}

.aboutus{
  font-size: 95%;
}

.setting{
  display: inline-flex;
  height: 90%;
  width: 90%;
}

.formulaire4{
  background-color: rgba(255,255,255, 0.6);
  text-decoration-color: black;
  margin-top: 1%;
  border-radius: 15px;
  margin-left: 25%;
  width: 50%;
  height: 100%;
}

.basabout{
  margin-top: 0%;
}

.inscrip{
  color: black;
}

.container2{
  width: 30%;
  margin-left: 10%;
}

.contact{
  margin-top: 8%
}

.navigationbarre{
  width: 60%;
  margin-left: 40%
}

.audio{
  width: 100%;
}

.aproposTot{
  height: 100%;
}

.container3{
  background-color: rgba(0,0,0, 0.7);
  border-radius: 15px;
  width: 40%;
  float: right;
  margin-right: 5%;
}

.buttoon{
  display: inline-flex;
  width: 90%;
}

.baslist{
  display: inline-flex
}

.nowa{
  margin-top:7%;
  color: white;
}

.blanco{
  color: white;
}

.blanco2{
  background-color: rgba(0,0,0, 0.7);;
  color: white;
  width: 30%;
  margin-top: 0%;
  border-radius: 10px;
}

.description3{
  margin-top: 0%;
  margin-left: 0%;
  color: white;
  background-color: rgba(203,56,203, 0.6);
  width: 50%;
  float: center;
  border-radius: 5px;
  margin-left: 25%;
}

.enteteAvis{
  color: white;
  background-color: rgb(0,0,0,0.8);
  opacity: 1;
  text-align: right;
  font: 1.4em Impact, fantasy;
  border-radius: 10px 0px 0px 10px;
}


.contenuAvis{
  color: black;
  background-color:  rgb(255, 255, 255, 0.8);
  font: 1em Verdana, sans-serif;
  text-align: center;
  border-radius: 0px 10px 10px 0px;
  width: 100%;
}

.boutonCata{
  width: 18%;
}

.navi{
  background-color: rgba(203,56,203, 0.4);
}


.catalogueEnt{
  margin-top: 1%;
}

.list-avis{
  border-collapse:separate; 
  border-spacing:0 10px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 97%;
  vertical-align: middle;
}
.list-avis1{
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 100%;
  vertical-align: middle;
  width: 100%;
  border: 1px;
  min-width: 100%;
  position: relative;
}
.backgroundAvis{
  background-color: rgb(0, 0, 0, 0.7);
  text-decoration-color: black;
  border-radius: 15px;
  margin-left: 5%;
  width: 90%;
  height: 100%;
}


.titreAvis{
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
